{% extends "bootstrap/base.html" %}
{% block title %}Spongebobify Your Text{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" placeholder="Enter text to sPonGeBoBiFy here" type="text" id="textToSponge" />
            <button class="btn btn-success" id="spongeButton">SpongeBobify</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="lead" id="spongeText">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $('#spongeButton').click(function () {
        var textToSponge = $('#textToSponge').val();
        $.ajax({
            url: '/spongebobify',
            type: 'POST',
            contentType: 'application/json',
            "data": JSON.stringify({
                "textToSponge": textToSponge
            }),
            success: function (data) {
                $('#spongeText').html("<img src='"+data+"'/>")
            }
        });
    });
</script>
{% endblock %}