{% extends "bootstrap/base.html" %}
{% block content %}
{{ super() }}
<div class="container">
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Text</th>
        <th>Text X Position</th>
        <th>Text Y Position</th>
        <th>Target Width Ratio</th>
        <th>Was the text sPoNgEd?</th>
        <th>Time of spongification</th>
      </tr>
    </thead>
    <tbody>
      {% for sponge in sponges %}
      <tr>
        <td>{{ sponge.text }}</td>
        <td>{{ sponge.text_x_pos }}</td>
        <td>{{ sponge.text_y_pos }}</td>
        <td>{{ sponge.target_width_ratio }}</td>
        <td>{{ sponge.sponge_the_text }}</td>
        <td>{{ sponge.timestamp }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script>
  $(document).ready(function () {
    $('#data').DataTable();
  });
</script>
{% endblock %}