{% extends "base.html" %}
{% block content %}
{{ super() }}
<!-- Page Content -->
<div class="container">
  <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Thumbnail Gallery</h1>
  <hr class="mt-2 mb-5">
  <div>
    <span>To see your meme appear here, login, and select Upload To Imgur in the Additional Options</span>
  </div>
  <div class="row text-center text-lg-start">
    {% for sponge in sponges %}
    {% if sponge.imgur_link %}
    <div class="col-lg-3 col-md-4 col-6">
      <a href="{{ sponge.imgur_link }}" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{{ sponge.imgur_link }}" alt="">
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}